body {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f8f8f8;
}

.col-tic-tac-toe{
  width: 198px;
}

.col-log{
  width: calc(100% - 198px);
}

.t-row{
  margin: auto;
  width: 150px;
}

.t-case{
  padding: 0px;
  margin: 0px;
  height: 50px;
  border: 1px solid black;
  display: inline;
}

.alert-danger{
  background-color: #FF555E !important;
}
.alert-success{
  background-color: #8BF18B !important;
}
.alert-received{
  background-color: #FFE981!important;
}
.alert-send{
  background-color: #83B2FF !important;
}

